.jobs-container {
  background-color: black;
  min-height: 100vh;
}
.jobs-content-container {
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .jobs-content-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .job-filters-container {
    width: 30%;
    margin-right: 5%;
    margin-top: 0;
  }
}
@media screen and (min-width: 992px) {
  .job-filters-container {
    width: 20%;
    margin-right: 5%;
    margin-top: 0;
  }
}
.search-icon {
  color: #64748b;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.search-input {
  background-color: transparent;
  border: none;
  height: 95%;
  outline: none;
  color: #64748b;
  flex-grow: 1;
}
.search-input-container {
  border: 1px solid #64748b;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}
.search-input-container-medium {
  border: 1px solid #64748b;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  align-self: flex-start;
  display: none;
}
@media screen and (min-width: 768px) {
  .search-input-container {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .search-input-container-medium {
    display: flex;
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .search-input-container-medium {
    display: flex;
    width: 50%;
  }
}
.profile-container {
  min-height: 30vh;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f8fafc;
}
@media screen and (min-width: 768px) {
  .profile-container {
    padding-top: 0;
    min-height: 22vh;
    padding-bottom: 15px;
  }
}
.profile-success-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  height: 22vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-name {
  color: #6366f1;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 15px;
}

.profile-img {
  width: 40px;
  height: 40px;
}
.bio {
  font-size: 12px;
}
.retry-btn {
  background-color: #4f46e5;
  border: none;
  color: #f8fafc;
  width: 70px;
  height: 26px;
  border-radius: 6px;
  font-size: 10px;
  cursor: pointer;
  outline: none;
}
.employment-type-list-container {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f8fafc;
  padding-bottom: 5px;
}
.job-details-container {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .job-details-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
  .job-details-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
  }
}
.salary-range-list-container {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}
.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.employment-type-heading {
  color: #f8fafc;
  font-size: 13px;
  margin-top: 15px;
}
.employment-type-label {
  color: #f8fafc;
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
}
.checkbox {
  cursor: pointer;
}
.jobs-list-container {
  padding: 0;
  list-style: none;
  margin-top: 0;
}
.job-title {
  color: #f8fafc;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .jobs-list-container {
    width: 100%;
    margin-top: 20px;
  }
  .job-title {
    font-size: 16px;
    font-weight: normal;
  }
}
@media screen and (min-width: 992px) {
  .jobs-list-container {
    width: 90%;
    margin-top: 20px;
  }
  .job-title {
    font-size: 16px;
    font-weight: normal;
  }
}

.job-item {
  background-color: #272727;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .job-item {
    height: 250px;
    padding: 4%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) {
  .job-item {
    height: 290px;
    width: 100%;
  }
}
.job-item-link {
  text-decoration: none;
}
.company-logo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .company-logo {
    width: 50px;
    height: 50px;
  }
}
.job-image-container {
  display: flex;
  align-items: center;
}
.star-icon {
  color: #fbbf24;
  height: 11px;
  width: 11px;
}
.rating-container {
  display: flex;
  align-items: center;
}
.rating {
  color: #f8fafc;
  margin: 0;
  font-size: 11px;
  margin-left: 5px;
}
@media screen and (min-width: 768px) {
  .rating {
    font-size: 13px;
  }
}
.location-icon {
  color: #f8fafc;
  width: 12px;
  height: 12px;
}
.location {
  color: #f8fafc;
  font-size: 10px;
  margin-left: 3px;
}
@media screen and (min-width: 768px) {
  .location {
    font-size: 12px;
  }
}
.location-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.package-per-annum {
  color: #f8fafc;
  font-size: 11px;
}
.location-employment-type-container {
  display: flex;
  align-items: center;
}
.salary-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #64748b;
}
.description-heading {
  color: #f8fafc;
  font-size: 11px;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .description-heading {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  .description-heading {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  .description-heading {
    font-size: 16px;
  }
}
.job-description {
  color: #f1f5f9;
  font-size: 10px;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  .job-description {
    font-size: 12px;
  }
}
@media screen and (min-width: 992px) {
  .job-description {
    font-size: 13px;
    line-height: 2em;
  }
}
.job-failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.job-details-failure-img {
  width: 100%;
  height: 230px;
}
.job-failure-heading {
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0;
}
.failure-description {
  color: #f8fafc;
  text-align: center;
  font-size: 13px;
  line-height: 2em;
}
.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
