* {
  font-family: 'Roboto';
}
.login-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-card {
  background-color: #272727;
  border-radius: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 15px;
}

.logo {
  width: 80px;
  height: 25px;
}
@media screen and (min-width: 768px) {
  .login-card {
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .login-card {
    width: 25%;
  }
  .logo {
    width: 100px;
    height: 30px;
  }
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  color: #f8fafc;
  font-size: 11px;
}
.username-input {
  margin-top: 6px;
  border: 1px solid #64748b;
  background-color: transparent;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  outline: none;
  color: #64748b;
  padding-left: 10px;
}
.username-container {
  width: 90%;
  margin-top: 20px;
}
.login-btn {
  margin-top: 20px;
  border: none;
  background-color: #4f46e5;
  color: #f8fafc;
  width: 90%;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
}
.error-msg {
  color: red;
  font-size: 12px;
  margin-bottom: 0;
}
